<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false">
    <springProperty scope="context" name="env" source="spring.profiles.active"/>
    <springProperty scope="context" name="logdir" source="logging.dir"/>
    <springProperty scope="context" name="appname" source="spring.application.name"/>
    <springProperty scope="context" name="logstash" source="logstash.host"/>

    <springProfile name="dev,qa,prod">
        <appender name="fileLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <File>${logdir}/${env}/${appname}.log</File>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <FileNamePattern>${logdir}/${env}/${appname}-%d{yyyy-MM-dd}.log</FileNamePattern>
                <maxHistory>30</maxHistory>
                <totalSizeCap>1GB</totalSizeCap>
            </rollingPolicy>
            <encoder>
                <charset>UTF-8</charset>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %thread %-5level -- [%logger{30}.%method]\(%line\) - %msg%n</pattern>
            </encoder>
        </appender>

        <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <destination>${logstash}</destination>
            <queueSize>262144</queueSize>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder" >
                <customFields>{"appname":"${appname}-${env}"}</customFields>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="fileLog"/>
            <appender-ref ref="LOGSTASH"/>
        </root>
    </springProfile>

    <springProfile name="local">
        <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %thread %highlight(%-5level) -- %cyan([%logger{30}.%method]\(%line\)) - %msg%n</pattern>
            </layout>
        </appender>

        <root level="INFO">
            <appender-ref ref="consoleLog"/>
        </root>
    </springProfile>

</configuration>
